@*
    Base Blog layout. Make this inherit from your base template
*@

@inherits UmbracoTemplatePage
@{
    Layout = "_uBlogsyBaseSite.cshtml";
}

@section uBlogsyHead
{
    @Html.Partial("uBlogsy/Global/uBlogsyGlobalBrowserTitle")

    @*get meta title and description*@
    @Html.Partial("uBlogsy/Global/uBlogsyGlobalSeoMeta")

    <script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js"></script>

		

    @RenderSection("uBlogsyHead")
}



@section uBlogsyMain
{
    <div class="page_wrapper">
		<section class="container">
               
            <div id="blog" class="page with_sidebar">
				<h1>@Umbraco.Field("uBlogsyContentTitle")</h1>
                @RenderSection("uBlogsyLeftCol")
            </div>
				  <aside>
				<div id="sidebar">
						
					<div class="widget">
						<h5>Recent Posts</h5>
						  @Html.CachedPartial("uBlogsy/Widgets/uBlogsyWidgetListPosts", Model, 0, false, true, new ViewDataDictionary(ViewData) { { "ItemLimit", 5 } })
					</div>
					
					
					<div class="widget">
						@Umbraco.RenderMacro("HomepageSponsers")
						
					</div>	
					
						
				</div>
			</aside>
        </section>
					</div>
        
        
    </div>
}