@*
    Base Site layout. Make this inherit from your base template
*@

@inherits UmbracoTemplatePage
@{
    Layout = "_uBlogsyBase.cshtml";
}

@section uBlogsyMain
{
<!DOCTYPE html>
<html lang="en">
<head>
            <title>@Umbraco.Field("siteName", recursive: true)</title>     
	    <link type="text/css" rel="Stylesheet" media="screen" href="/css/uBlogsy.css" />
	<link type="text/css" rel="Stylesheet" media="screen" href="/css/tipsy.css"/>
		<link type="text/css" rel="Stylesheet" media="screen" href="/css/base.css"/>
		
		<link type="text/css" rel="Stylesheet" media="screen" href="/css/flexslider.css"/>
		<link type="text/css" rel="Stylesheet" media="screen" href="/css/media.queries.css"/>
		<link rel="stylesheet" type="text/css" href="/scripts/fancybox/jquery.fancybox-1.3.4.css" />
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico|Cabin:400,700,600,500">
           
		<!-- Javascripts -->
	<script type="text/javascript" src="/scripts/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/scripts/html5shiv.js"></script>
	<script type="text/javascript" src="/scripts/jquery.tipsy.js"></script>
	<script type="text/javascript" src="/scripts/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
	<script type="text/javascript" src="/scripts/fancybox/jquery.easing-1.3.pack.js"></script>
	<script type="text/javascript" src="/scripts/jquery.mobilemenu.js"></script>
	<script type="text/javascript" src="/scripts/jquery.infieldlabel.js"></script>
	<script type="text/javascript" src="/scripts/jquery.twitter.js"></script>
	<script type="text/javascript" src="/scripts/jquery.quicksand.js"></script>
	<script type="text/javascript" src="/scripts/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="/scripts/advocate.js"></script>
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="images/favicon.png" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	
	@RenderSection("uBlogsyHead")
        </head>
	
	        <body>
                
            @*top navigation*@
          @Html.CachedPartial("uBlogsy/Global/uBlogsyGlobalNavigation", Model, 60, true)
	
	  @*Site header area*@
            @Html.CachedPartial("uBlogsy/Global/uBlogsyGlobalHeader", Model, 60, true)
            
                    
            @RenderSection("uBlogsyMain")
            
			@Html.CachedPartial("uBlogsy/Global/uBlogsyGlobalFooter", Model, 60, true)
        </body>
    </html>

}